<!DOCTYPE html>
<html>
	<head>
		<link rel="icon" type="image/png" href="/media/images/logo.png" />
		<link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		<link type="text/css" rel="stylesheet" href="/media/materialize/css/materialize.css"  media="screen,projection"/>
		<link type="text/css" rel="stylesheet" href="/media/css/estilos.css"  media="screen,projection"/>
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<title>{%block title%}{% endblock%}</title>
	</head>

	<body>
		<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
		<script type="text/javascript" src="/media/materialize/js/materialize.js"></script>
		<header>
			<nav >
				<div class="container"><a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a></div>
				<a href="{%url 'vista_index'%}" class="brand-logo"><img src="/media/images/logo.png" class="logo" ></a>
				
				<div class="nav-wrapper menu">
					<ul id="nav-mobile" class="left hide-on-med-and-dow">
						<li><a href="{%url 'vista_index'%}">Inicio</a></li>
						<li><a href="/productos/page/1">Productos</a></li>
						<li><a href="{% url 'vista_nosotros' %}">Sobre Nosotros</a></li>
						<li><a href="{% url 'vista_sabias' %}">Nuestra empresa</a></li>
						<li><a href="{% url 'vista_contacto' %}">Contactanos</a></li>
						{% if user.is_authenticated %}
							<li><a href="{% url 'vista_logout' %}">Cerrar sesion</a></li>
						{% endif %}
					</ul>

				</div>
			</nav>
			<ul class="side-nav " style="width: 180px " id="mobile-demo">

				<li><a href="{%url 'vista_index'%}">Inicio</a></li>
				<li><a href="/productos/page/1">Productos</a></li>
				<li><a href="{% url 'vista_nosotros' %}">Sobre Nosotros</a></li>
				<li><a href="{% url 'vista_sabias' %}">Nuestra empresa</a></li>
				<li><a href="{% url 'vista_contacto' %}">Contactanos</a></li>
				{% if user.is_authenticated %}
					<li><a href="{% url 'vista_logout' %}">Cerrar sesion</a></li>
				{% endif %}
			</ul>
		</header>
		<main>
			<div class="container">
				{%block content %}
				{%endblock%}
				
			</div>
		</main>
		<footer class="page-footer">
			<div class="container">
				<div class="row">
					<div class="col l6 s12">
						<h5 class="white-text">Cofres del Quindio</h5>
						<p class="grey-text text-lighten-4">Somos una empresa del Quindio que fabrica cofres funebres, la cual esta innovando en sus productos continuamente, ecologicos y amigables con el ambiente</p>
					</div>
					<div class="col l3 s6">
						<h5 class="white-text">Contacto</h5>
						<ul class="white-text">
							<li><p><b>Telefono:</b> 315 282 3456 - 316 825 7108</p></li>
							<li><a class="white-text" href="https://www.google.com.co/maps/place/Calle+32,+Armenia,+Quind%C3%ADo/@4.5301666,-75.6841185,17z/data=!4m5!3m4!1s0x8e38f5bb156feb45:0xcd870769880595cd!8m2!3d4.5301411!4d-75.6838199" target="_blank"><p><b>Direccion: </b>Calle 32 No. 23-32 B/Popular Armenia - Quindio</p></a></li>
							<li><p><b>Correo: </b>cofrezdelquindo@gmail.com</p></li>
						</ul>
					</div>
					<div class="col l3 s6">
						<h5 class="white-text">Menú</h5>
						<ul>
							<li><a class="grey-text text-lighten-3" href="{%url 'vista_index'%}">Inicio</a></li>
							<li><a class="grey-text text-lighten-3" href="/productos/page/1">Productos</a></li>
							<li><a class="grey-text text-lighten-3" href="{% url 'vista_nosotros' %}">Sobre Nosotros</a></li>
							<li><a class="grey-text text-lighten-3" href="{% url 'vista_sabias'%}">Nuestra empresa</a></li>
							<li><a class="grey-text text-lighten-3" 
							href="{% url 'vista_contacto' %}">Contactanos </a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="footer-copyright">
				<div class="container center">
					<h6><b>www.cofresdelquindio.com</b></h6>           	
				</div>
			</div>
		</footer>
		<script type="text/javascript"> 
			$(".button-collapse").sideNav();
			$(document).ready(function(){$('.carousel').carousel();});
			$(document).ready(function(){$('.carousel').carousel();});
			$(document).ready(function(){$('.parallax').parallax();});
			$(document).ready(function(){$('.collapsible').collapsible({accordion : false});});
			$(document).ready(function(){$('.slider').slider({full_width: true});});
		</script>
		
	</body>
</html>
				