{% extends 'base.html' %}

{% block title %}
	Inicio
{% endblock %}

{% block content %}
	<br>
	<div class="slider">
		<ul class="slides"> 
			{% for p in slider %}
				<li>
					<img src="/media/{{p.Imagen}}"> <!-- random image -->        
				</li>
			{% endfor %}
		</ul>
		{% if user.is_authenticated %}
			<a href="lista_slider/Activo">Listar items</a>
		{% endif %}
	</div>
	<br>
	<div class="row z-depth-2">
		<div class="col s12 m4">
			<div class="center promo promo-example">
				<i class="material-icons large">flash_on</i>
				<p class="promo-caption">Control Ágil</p>
				<p class="light center">SIF permite gestionar eficazmente  el inventario de cofres para su funeraria.  </p>
		    </div>
		</div>
		<div class="col s12 m4">
		  <div class="center promo promo-example">
				<i class="material-icons large">group</i>
				<p class="promo-caption">Enfocado en el usuario</p>
				<p class="light center">Administre las cuentas de usuario de sus operarios y administradores.</p>
		    </div>
		</div>
		<div class="col s12 m4">
		    <div class="center promo promo-example">
				<i class="material-icons large">settings</i>
				<p class="promo-caption">Fácil de trabajar</p>
				<p class="light center">Gestione su inventario, usuarios proveedores fácilmente.</p>
		    </div>
		</div>
	</div>
	
	<div class="row z-depth-2 menu">
		<div class="col m4 ">
	        <div class="center promo promo-example">
				<br>
				<i class="material-icons medium">email</i>
				<p class="promo-caption">Contactanos </p>
				<p class="light center">sif-app@sif.com</p>
		    </div>
		</div>
			<br>
		<div class="col m4 ">
	        <div class="center promo promo-example">
				<i class="material-icons medium">room</i>
				<p class="promo-caption">Dirección </p>
				<p class="light center">Carrea 5 Norte, Número 123A-12</p>
			</div>
		</div>
				
		<div class="col m4 ">
		    <div class="center promo promo-example">
				<i class="material-icons medium">phone</i>
				<p class="promo-caption">Telefono</p>
				<p class="light center">314 094-988</p>
		    </div>
		</div>
	</div>
	  
{% endblock %}