{% extends 'base.html' %}

{% block title %}
	Inicio
{% endblock %}

{% block content %}
	<br>
	<div class="row z-depth-1">
		<div class="slider slider_res">
			<ul class="slides"> 
				{% for p in slider %}
					<li>
						<img src="/media/{{p.Imagen}}"> <!-- random image -->        
						<span class="span">{{p.Nombre}}</span>
					</li>
				{% endfor %}
			</ul>
			
		</div>
		{% if user.is_authenticated %}
			<a href="lista_slider/Activo">Listar items</a>
		{% endif %}
	</div>
	<br>
	<div class="row z-depth-2">
		<div class="col s12 m4">
			<div class="center promo promo-example">
				<i class="material-icons large">phone</i>
				<p class="promo-caption">Telefonos</p>
				<p class="light center">315 282 3456</p>
				<p class="light center">316 825 7108</p>
		    </div>
		</div>
		<div class="col s12 m4">
		  <div class="center promo promo-example">
				<i class="material-icons large">mail</i>
				<p class="promo-caption">Corre de contanto</p>
				<p class="light center">pacho-agudelo@hotmail.com</p>
				<p class="light center">cofresdelquindio@gmail.com</p>

		    </div>
		</div>
		<div class="col s12 m4">
		    <div class="center promo promo-example">
				<i class="material-icons large">room</i>
				<p class="promo-caption">Ubicacion</p>
				<p class="light center">Calle 32 No. 23-32 B/Popular Armenia - Quindio</p>
				<p class="light center"><a href="https://www.google.com.co/maps/@4.5301666,-75.6841185,3a,75y,21.49h,75.67t/data=!3m6!1e1!3m4!1s_QYEIMZwXJ3G_1PQkMthVQ!2e0!7i13312!8i6656" target="_blank">Ubicacion</a></p>
		    </div>
		</div>
	</div>
	
	
	  
{% endblock %}
