{% extends 'base.html' %}

{% block title %}
	Inicio
{% endblock %}

{% block content %}
	<br>
	<div class="row z-depth-1">
		<div class="slider slider_res">
			<ul class="slides"> 
				{% for p in slider %}
					<li>
						<img src="/media/{{p.Imagen}}"> <!-- random image -->        
						<span class="span">{{p.Nombre}}</span>
					</li>
				{% endfor %}
			</ul>
			
		</div>
		{% if user.is_authenticated %}
			<a href="lista_slider/Activo">Listar items</a>
		{% endif %}
	</div>
	<br>
	<div class="row z-depth-2">
		<div class="col s12 m4">
			<div class="center promo promo-example">
				<i class="material-icons large">flash_on</i>
				<p class="promo-caption">Control Ágil</p>
				<p class="light center">SIF permite gestionar eficazmente  el inventario de cofres para su funeraria.  </p>
		    </div>
		</div>
		<div class="col s12 m4">
		  <div class="center promo promo-example">
				<i class="material-icons large">group</i>
				<p class="promo-caption">Enfocado en el usuario</p>
				<p class="light center">Administre las cuentas de usuario de sus operarios y administradores.</p>
		    </div>
		</div>
		<div class="col s12 m4">
		    <div class="center promo promo-example">
				<i class="material-icons large">settings</i>
				<p class="promo-caption">Fácil de trabajar</p>
				<p class="light center">Gestione su inventario, usuarios proveedores fácilmente.</p>
		    </div>
		</div>
	</div>
	<div class="row z-depth-2">
		<div class="parallax-container slider_res">
	    	<div class="parallax"><img src="/media/images/IMG-20160719-WA0008.jpg"></div>
	    </div>
	</div>
	
	  
{% endblock %}