{% extends 'base.html' %}

{% block title %}
	Sobre nosotros
{% endblock %}

{% block content %}
	
	<br>
	<div class="row">
		<h4 align="center" class="titulo">Sobre nosotros</h4>
		<div class="col s12 m6 ">
			<ul class="collapsible popout active" data-collapsible="accordion">
				<li>
			     	<div class="collapsible-header active titulo_tarjeta"><i class="material-icons">turned_in</i>Misión</div>
			      	<div class="collapsible-body"><p>Fabricar cofres funebres de alta calidad, pensando en el medio ambiente, lo que permitirá crear un equilibrio con la naturaleza tomando un sentido de respeto hacia ella, inculcando en la conservación de nuestros bosques e innovando con nuestros modelos en el sector empleando tecnología de última generación.</p></div>
		    	</li>
	    	</ul>
	    	<ul class="collapsible popout" data-collapsible="accordion">
				<li>
			     	<div class="collapsible-header titulo_tarjeta"><i class="material-icons">work</i>Politicas</div>
			      	<div class="collapsible-body"><p>Cumplir con los estándares de claidad, con el profesionalismo de nuestro equipo de trabajo, estableciendo avances para el mejoramiento continuo de nuestros productos, buscando la exelencia y el desarrollo de nuestra empresa, comprometidos cada día con ser una entidad totalmente ecoógica, fabricando con materiales alternativos teniendo en cuenta la infraestructura de los parques cemeterios, esto lo hemos logrado gracias a la alta tecnología empleanda en nuestros productos, aboliendo las formas tipicas de puntilla y vidrio reemplazandolas por acetatos, clavillos y pegantes especiales, es de esta manera que avanzamos como empresa y nos fortalecemos cada vez mas en el sector.</p></div>
		    	</li>
	    	</ul>
    	</div>
    	<div class="col s12 m6 ">
			<ul class="collapsible popout active" data-collapsible="accordion">
				<li>
			     	<div class="collapsible-header active titulo_tarjeta"><i class="material-icons">filter_drama</i>Visión</div>
			      	<div class="collapsible-body"><p>Ser la empresa líder y reconocida a nivel nacional como innovadora aplicando estándares de alta calidad en la fabricación de cofres fúnebres ecológicos. <br><br><br></p></div>
		    	</li>
	    	</ul>
	    	<ul class="collapsible popout " data-collapsible="accordion">
				<li>
			     	<div class="collapsible-header titulo_tarjeta"><i class="material-icons">thumbs_up_down</i>Valores corporativos</div>
			      	<div class="collapsible-body">
			      		<p>
			      			Responsabilidad <br> Transparencia <br> Vocacion de servicio <br>
			      			Confianza <br> Trabajo en equipo <br> Solidaridad <br> Eficiencia <br> Honestidad <br> Compromiso <br><br> 
			      		</p>
				      	
			      	</div>
		    	</li>
	    	</ul>
	    </div>
	    <div class="col s12 m6 offset-m3">
			<ul class="collapsible popout active" data-collapsible="accordion">
				<li>
			     	<div class="collapsible-header titulo_tarjeta"><i class="material-icons">perm_identity</i>Organizacion</div>
			      	<div class="collapsible-body"><p><b>Retroalimentacion</b>
						La empresa cuenta con dos tipos de retroalimentacion:
						1. Retroalimentación empresa cliente: Aqui contamos con encuestas donde nos enteramos de la calidad del producto, cuanto le estamos afectando al medio ambiente o al entorno donde fabricamos. <br>
						2. Retroalimentación interna: La empresa no solo da espacio a sus clientes para ayudar a mejorar la empresa, tambien con cada seccion de procesos hace una consulta sobre la materia prima y la maquinaria utilizada y enterarse de que cambiar o mejorar para un buen servicio con calidad. <br>
						<b>Evaluacion</b>
						En la evalucion de de nuestra empresa, analizamos el tiempo de cada proceso, y la maquinaria utilizada, como tambien tenemos en cuenta la calidad de cada uno de nuestros productos como la resistencia, la firmeza y cada dealle de la pintura y tapizados, observamos el tiempo de entrega, sin olvidarnos de cada empleado en como ejerce su labor detalladamente. <br>
						<b>Control</b>
						El proceso de control de la empresa consiste en tener un buen seguimiento de la funcionalidad de las maquinas, tiempo de procesos y desempeño de cada empleado, teniendo todo lo evaluado en orden, al cumplir con un buen control tendremos mejores soluciones para cualquier imprevisto fuera de lo normal observado en el proceso de evaluación.</p>

					</div>
		    	</li>
	    	</ul>
	    	<br>
	</div>

{% endblock %}