{% extends 'base.html' %}
{% block title %}
	Productos
{% endblock %}

{% block content %}
	<h4 class="titulo" align="center">Nuestros Productos</h4>
	{% if user.is_authenticated%}
		<div class="col s12 m6">
			<a href="{% url 'vista_agregar_producto' %}">Nuevo Producto</a>
		</div>
	{% endif %}
	<div class="row">
		{% for p in productos%}
			<div class="col s12 m6">
				<img src="/media/{{p.Imagen}}" class="img responsive-img materialboxed"
				data-caption="{{p.Descripcion}}">
				{% if user.is_authenticated %}
					<a href="/edit/product/{{p.id}}">Editar</a>
				{% endif %}
			</div>
		{% endfor %}
		
	</div>
	<div class="row center col s12">
		<ul class="pagination">
		    {% if productos.has_previous %}
		    	<li class="active"><a href="/productos/page/{{productos.previous_page_number}}"><i class="material-icons left">chevron_left</i>Anterior</a></li>
		    {% else %}
		    	<li class="disabled"><a ><i class="material-icons left">chevron_left</i>Anterior</a></li>
			{% endif%}
			{% if productos.has_next %}
			   	<li class="active"><a href="/productos/page/{{productos.next_page_number}}">Siguiente<i class="material-icons right">chevron_right</i></a></li>
		    {% else %}			    	
				<li class="disabled"><a >Siguiente<i class="material-icons right">chevron_right</i></a></li>
		    {% endif %}	
		</ul>
			
	</div>		

{% endblock%}