{% extends 'base.html' %}

{% block title  %}
	Sabias Que...
{% endblock %}

{% block content %}
	<div class="row">
		{% for p in carousel %}		
			<div class="col s12 m6 ">
				<h6 class="titulo_carousel"><i class="material-icons left">perm_media</i>{{p.Nombre}}</h6>
				<div class="carousel ">		
					<a class="carousel-item" ><img src="/media/{{p.Imagen_1}}"></a>
					<a class="carousel-item" ><img src="/media/{{p.Imagen_2}}"></a>
					<a class="carousel-item" ><img src="/media/{{p.Imagen_3}}"></a>
					<a class="carousel-item" ><img src="/media/{{p.Imagen_4}}"></a>
					<a class="carousel-item" ><img src="/media/{{p.Imagen_5}}"></a>
				</div>
				<p>{{p.Descripcion}}</p> 
				{% if user.is_authenticated %}
					<a href="/edit/carousel/{{p.id}}">Editar</a>
				{% endif %}
			</div>
		{% endfor %}

	</div>
{% endblock %}